<div class="wrapper-high">


<h1> UPDATE YOUR PROFILE </h1>
	<div class="form">
		<%= form_for @user do |f| %>
				<h1> PROFILE INFO </h1>
				<li><%= f.label "First Name" %></li>
				<p><%= f.text_field :fname %></p>
				<li><%= f.label "Last Name" %></li>
				<p><%= f.text_field :lname %></p>
				<li><%= f.label "Username" %>
				<p><%= f.text_field :username %></p>
				<li><%= f.label "E-mail" %></li>
				<p><%= f.text_field :email %></p>
				<li><%= f.label "Password" %></li>
				<p><%= f.text_field :password %></p>
				<li><%= f.label "Country" %></li>
				<p><%= f.text_field :country %></p>
				<%= f.submit "Update", class: "btn" %>
				<br><br>
		 	<%= link_to "Delete", @user, data: { confirm: "OMG, OMG, OMG ARE YOU FU£*!&@ SURE!?" }, method: :delete%>
		<% end %>
	</div>
	<hr>
	<br>
	<h1> USER POSTS </h1>
		<div class="post">
			<% @user.posts.each do |post| %>
				<p><%= post.body %></p>
				<h3>Post created at: <%= post.created_at %></h3>
				
				<% if post.user_id == session[:user_id] %>
					<h3><%= link_to "Delete", post, method: :delete, data: { confirm: "ARE YOU SUUUUUUURE?"} %></h3>
				<% end %>

			<% end %>
		</div>
		<br>
		<hr>
		<br>
		<h1> USER COMMENTS </h1>
		<% @user.comments.each do |comment| %>
			<p><%= comment.body %></p>
			<h3>Comment created at: <%= comment.created_at %></h3>

			<% if comment.user_id == session[:user_id] %>
				<h3><%= link_to "Delete", method: :delete, data: { confirm: "ARE YOU SUUUUUUURE?"} %></h3>
			<% end %>
	<% end %>


</div>
