<div class="wrapper-high">
	<h1> USERS</h1>

	<hr>

	<h3><%= flash[:created] if flash[:created] %></h3>
	<h3><%= flash[:deleted] if flash[:deleted] %></h3>
	<h3><%= flash[:alert] if flash[:alert] %></h3>
	<h3><%= flash[:notice] if flash[:notice] %></h3>

	<div class="list">
		<% @user.each do |user| %>
				<%= user.username %>	
		<% end %>
	</div>
</div>


		

