<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- INCONSOLATA -->
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <!-- ROBOTO -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,500,700' rel='stylesheet' type='text/css'>

  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  
</head>
<body>

<div id="content">

<nav>
	<% if session[:user_id] %>
		<li><%= link_to "Home |", root_path %></li>
		<li><%= link_to "New Post |", new_post_path %></li>
		<li><%= link_to "All Posts |", posts_path %></li>
		<li><%= link_to "All Users |", users_path %></li>
		<li><%= link_to "Edit Profile |", edit_user_path(session[:user_id]) %></li>
		<li><%= link_to "Log Out", log_out_path %></li>

	<% else %>
		<li><%= link_to "Home |", root_path %></li>
		<li><%= link_to "Sign up |", new_user_path%></li>
		<li><%= link_to "Log in", login_path %></li>
	<% end %>
	
</nav>
<%= yield %>
</div>

<footer>
	<a href="https://github.com/joseap/railsblog" target="_blank"><h4><i class="fa fa-github-square fa-4x"></i></h4></a>
	<h4>everything is so small here</h4>
	<h4> <em>&copy; Jose Plata</em> </h4>
</footer>

</body>
</html>
